[submodule "abc"]
	path = abc
	url = git@github.com:Sichao-Yang/abc.git
# Don't use paths as names to avoid git archive problems
[submodule "cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts
